html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  // background-color: $black;
  font-family: $font;
  font-size: 18px;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}