.footer {
  padding: 30px 0;
  background-color: $black;

  p {
    margin: 5px 0;
    color: $gray-light;
    text-align: center;
  }
}

.footer__develop-by {
  font-size: 16px;

  a  {
    color: $green;
  }
}