.main-nav {
  @media (min-width: $screen-md) {
    width: 60%;
  }
}

.main-nav__list {
  display: none;

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.main-nav__item {
  color: $gray;
}

.main-nav__link {
  padding: 8px 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: border-color 0.37s $easing;
  color: $gray;
  font-weight: bold;

  &:hover {
    border-color: $gray;
  }

  &--white {
    color: $white;

    &:hover {
      border-color: $white;
    }
  }
}

.dropdown-element {
  position: relative;
}

.btn--dropdown {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.user-signed {
  display: flex;
  align-items: center;

  &--mobile {
    text-align: center;
  }
}

.main-nav__dropdown {
  position: absolute;
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border-radius: 3px;
  transition: opacity 0.37s $easing;
  background-color: $gray-light;
  font-size: 16px;
  text-align: right;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;

  &.open-menu-dropdown {
    visibility: visible;
    opacity: 1;
  }
}

.main-nav__dropdown-item {
  margin-bottom: 8px;

  &:last-child {
    margin: 0;
  }
}

.logout-link {
  color: $red;
}

// Mobile Navigation
.main-nav--mobile {
  @media (max-width: $screen-md) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70vw;
    height: 100vh;
    padding: 10vh 10vw;
    background-color: $white;
    overflow: auto;
    transition: all 0.37s $easing;
    opacity: 0;
    z-index: 1;

    &.active {
      left: 0;
      box-shadow: 0 0 40px $gray;
      opacity: 1;
    }
  }

  @media (max-width: $screen-sm) {
    width: 80vw;
  }
}

.main-nav-mobile__list {
  margin: 0;

  @media (min-width: $screen-md) {
    display: none;
  }
}

.main-nav-mobile__item {
  margin: 10px 0;

  @media (max-width: $screen-md) and (min-width: $screen-sm) {
    margin: 20px 0;
    font-size: 22px;
  }
}

.btn--menu-mobile {
  position: fixed;
  top: 20px;
  right: 20px;
  transition: right 500ms $easing;
  z-index: 2;

  @media (min-width: $screen-md) {
    display: none;
  }

  span {
    display: block;
    width: 35px;
    height: 3px;
    margin-bottom: 6px;
    background-color: $black;
    transition: transform 0.37s $easing, opacity 0.37s, background-color 0.27s;
  }

  &.active {
    .top {
      transform: translateY(8px) rotate(-135deg);
    }

    .middle {
      opacity: 0;
      transform: rotate(135deg);
    }

    .bottom {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.main-nav-mobile__auth {

  a {
    @media (max-width: $screen-md) and (min-width: $screen-sm) {
      font-size: 24px;
    }
  }

  @media (min-width: $screen-md) {
    display: none;
  }
}

.main-nav-mobile__username {
  margin: 5px 0;

  @media (max-width: $screen-md) and (min-width: $screen-sm) {
    font-size: 32px;
  }
}

.main-nav--mobile__actions {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;

  @media (max-width: $screen-md) and (min-width: $screen-sm) {
    font-size: 18px;
  }
}