.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-top: 8px dashed $gray;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent; 
  transition: transform 0.37s $easing;

  &--white {
    border-top-color: $white;
  }
}

.rotate-caret {
  transform: rotate(-180deg);
}

.hide {
  display: none !important;
}

.text-center {
  text-align: center;
}

.line-separator {
  margin: 20px 0;
  border-color: lighten($gray, 40%);
  border-width: 0.5px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-15-auto {
  margin: 15px auto;
}

.margin-top-540 {
  margin-top: 540px;
}

.scale-up {
  transform: scale(1.2);
}