//colors
$black: #252727;
$gray: #6b7373;
$gray-light: #e1e6e6;
$white: #fff;
$cyan: #66ccc6;
$red: #fe2641;

//fonts
$font: 'Asap', sans-serif;

//breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1270px;
$screen-xl: 1680px;

//animation
$easing: cubic-bezier(.6, .05, .28, .91);