:root {
  --black: #252727;
  --gray: #6b7373;
  --gray-light: #e1e6e6;
  --white: #fff;
  --cyan: #66ccc6;
  --cyan-darken: #39aca5;
  --red: #fe2641;
  --green: #66cc83;
  --yellow: #deb940;
  --orange: #cb865c;
  --blue: #66a9cc;

  --font: "Asap", sans-serif;

  --screen-xs: 480px;
  --screen-sm: 768px;
  --screen-md: 1024px;
  --screen-lg: 1270px;
  --screen-xl: 1680px;

  --easing: cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: 18px;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

/* Utils */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-top: 8px dashed var(--gray);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  transition: transform 0.37s var(--easing);
}
.caret--white {
  border-top-color: var(--white);
}

.rotate-caret {
  transform: rotate(-180deg);
}

.hide {
  display: none !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.line-separator {
  margin: 20px 0;
  border-color: var(--gray-light);
  border-width: 0.5px;
}

.min-height-40 {
  min-height: 40vh;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-15-auto {
  margin: 15px auto;
}

.margin-top-540 {
  margin-top: 540px;
}

.scale-up {
  transform: scale(1.2);
}

.block-click {
  cursor: auto !important;
}
/* Utils end */

/* Typography */
p,
a {
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

.heading {
  font-size: 32px;
}
/* Typography end */

/* Alerts */
.alert {
  display: flex;
  position: fixed;
  top: 10%;
  left: -100%;
  max-width: 80%;
  padding: 0.8rem 0.5rem 0.8rem 1.5rem;
  border-radius: 4px;
  background-color: var(--blue);
  transition: 0.37s opacity var(--easing);
  opacity: 0;
  z-index: 2;
}

.alert--danger {
  background-color: var(--red);
}

.alert--success {
  background-color: var(--green);
}

.alert--active {
  left: auto;
  right: 20px;
  opacity: 1;
}

.alertText {
  display: inline-block;
  margin: 0;
  color: var(--white);
  font-size: 0.9rem;
}

.alertBtn {
  border: 0;
  margin-left: 0.5rem;
  background: transparent;
  color: var(--white);
  cursor: pointer;
}

@media (min-width: 1600px) {
  .alert--active {
    right: 200px;
  }
}
/* Alerts end */

/* Buttons */
.btn {
  display: inline-block;
  padding: 8px 30px;
  border: 0;
  border-radius: 20px;
  transition: background-color 0.37s cubic-bezier(0.6, 0.05, 0.28, 0.91);
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: var(--cyan);
}

.btn-primary:hover {
  background-color: var(--cyan-darken);
}

.btn-large {
  padding: 10px 50px;
  font-size: 18px;
}
/* Buttons end */

/* Icons */
@font-face {
  font-family: "ecoactua-icons";
  src: url("../fonts/ecoactua-icons.eot");
  src: url("../fonts/ecoactua-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ecoactua-icons.woff") format("woff"),
    url("../fonts/ecoactua-icons.ttf") format("truetype"),
    url("../fonts/ecoactua-icons.svg#ecoactua-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ecoactua-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ecoactua-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aire-icon:before {
  content: "\63";
}

.icon-animal-icon:before {
  content: "\64";
}

.icon-delete-icon:before {
  content: "\65";
}

.icon-pendiente-icon:before {
  content: "\66";
}

.icon-revision-icon:before {
  content: "\67";
}

.icon-solucionado-icon:before {
  content: "\68";
}

.icon-search-icon:before {
  content: "\69";
}

.icon-step-one:before {
  content: "\6a";
}

.icon-step-three:before {
  content: "\6b";
}

.icon-step-two:before {
  content: "\61";
}

.icon-superficie-icon:before {
  content: "\6d";
}

.icon-vegetación-icon:before {
  content: "\6e";
}

.icon-agua-icon:before {
  content: "\6f";
}
/* Icons end */

/* Report state colors */
.state-color-Pendiente {
  color: var(--gray);
}
.state-color-Pendiente .caret {
  border-top-color: var(--gray);
}

.state-color-Revision {
  color: var(--cyan);
}
.state-color-Revision .caret {
  border-top-color: var(--cyan);
}

.state-color-Solucionado {
  color: var(--green);
}
.state-color-Solucionado .caret {
  border-top-color: var(--green);
}
/* Report state colors */
